.app-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header {
  margin: 0;
  padding: 20px;
  min-height: 1vh;
  font-size: calc(10px + 5vmin);
  color: white;
  margin-left: calc(10px + 2vmin);
}

.content {
  display: flex;
  flex-direction: row;
}

.FilterContainer {
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #282c34;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: blue;
}

body {
  background-color: #282c34;
}